[MASTER]

ignore=CVS, env, tests, migrations

extension-pkg-whitelist=ujson

jobs=0

init-hook="import sys; sys.path.extend(['./k8s-itlabs-operator'])"

[REPORTS]

output-format=colorized

[MESSAGES CONTROL]

disable=simplifiable-if-expression, # R1719
        missing-docstring, # C0111
        empty-docstring, # C0112
        line-too-long, # C0301
        too-many-lines, # C0302
        trailing-whitespace, # C0303
        missing-final-newline, # C0304
        multiple-statements, # C0321
        superfluous-parens, # C0325
        init-is-generator, # E0100
        return-in-init, # E0101
        not-in-loop, # E0103
        return-outside-function, # E0104
        yield-outside-function, # E0105
        nonexistent-operator, # E0107
        duplicate-code, # R0801
        too-many-return-statements, # R0911
        too-many-branches, # R0912
        too-many-arguments, # R0913
        unreachable, # W0101
        unnecessary-pass, # W0107
        exec-used, # W0122
        anomalous-backslash-in-string, # W1401
        invalid-name, # C0103
        too-few-public-methods, # R0903
        raise-missing-from, # W0707
        logging-fstring-interpolation, # W1203
        broad-except, # W0703
        inconsistent-return-statements, # R1710
        unused-argument, # W0613
        lost-exception, # W0150
        unspecified-encoding, # W1514

[DESIGN]

max-parents=15
